<!-- User Sign up -->
<ng-container *ngIf="!isLoading">
  <div class="row">
    <h3 class="text-center">{{ isLoginMode ? 'Login' : 'Sign Up' }}</h3>
  </div>
  <form (ngSubmit)="onSubmit(authForm)" #authForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
          #email="ngModel"
          aria-describedby="emailHelp"
          placeholder="Enter email"
          >
          <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
        <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        #password
        ngModel
        required
        password
        minlength="8"
        name="password"
        >
      </div>
      <button
        mat-raised-button
        type="submit"
        id="btn-signin"
        class="btn btn-primary"
        [disabled]="!authForm.valid"> {{ isLoginMode ? 'Login' : 'Sign Up' }}
    </button>
    |
    <button
      mat-raised-button
      class="btn btn-primary"
      id="btn-switchMode"
      (click)="onSwitchMode()"
      type="button">
      Switch to {{ isLoginMode ? 'Sign Up': 'Login' }}
    </button>
  </form>

</ng-container>
