<h1>{{ listing.address }}</h1>
<div class='photos'>
  <mat-card class="picture-card" *ngFor="let pic of images">
    <mat-card-title>{{ name }}</mat-card-title>
    <img mat-card-image src="{{ pic }}">
  </mat-card>
</div>
<div *ngIf="checkedin; then nologin else login"></div>
<ng-template #login>
  <div class="checkIn" *ngIf="!loading else show_loading">
    <mat-card class="checkin-card">
      <mat-card-title>Check In and leave notes</mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="checkIn(checkinForm)" #checkinForm="ngForm" name="checkinForm">
          <mat-form-field class="checkin-field">
            <mat-label for="checkinEmail">Email</mat-label>
            <input matInput
              type="email"
              class="form-control"
              ngModel
              name="checkinEmail"
              required
              email
              #checkinEmail="ngModel"
              placeholder="Enter Email Address">
            <span class="help-block" *ngIf="!checkinEmail.valid && checkinEmail.touched">Please enter a valid email!</span>
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
          <br>
          <mat-form-field class=checkin-field>
            <mat-label for="checkinName">Name</mat-label>
            <input matInput
              type="text"
              class="form-control"
              ngModel
              name="checkinName"
              required
              #checkinName="ngModel"
              placeholder="Enter your name">
            <mat-icon matSuffix>create</mat-icon>
          </mat-form-field>
          <br>
          <mat-form-field class=checkin-field>
            <mat-label for="checkinPhone">Phone</mat-label>
            <input matInput
              type="tel"
              class="form-control"
              ngModel
              name="checkinPhone"
              #checkinName="ngModel"
              placeholder="Enter your phone number">
            <mat-icon matSuffix>dialpad</mat-icon>
          </mat-form-field>
        <mat-card-actions>
          <button
            mat-raised-button
            color="accent"
            type="submit"
            class="btn btn-primary"
            [disabled]="!checkinForm.valid">
            CheckIn
          </button>
        </mat-card-actions>
      </form>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
<ng-template #show_loading>
  <mat-spinner></mat-spinner>
</ng-template>
<ng-template #nologin>
  <!-- pictures -->
  <!-- <mat-grid-list cols="8" rowHeight="2:1">
    <mat-grid-tile
      *ngFor="let pic of pictures"
      [colspan]=2
      [rowspan]=1>
      {{pic.text}}
    </mat-grid-tile>
  </mat-grid-list> <!-- pictures -->
  <!-- data -->
  <mat-tab-group animationDuration="0ms">
    <mat-card>
      <mat-tab label="Notes">
        <form (ngSubmit)="addNotes(notesForm)" #notesForm="ngForm" class="checkin-field" name="notesForm">
          <mat-form-field class="notes-field">
            <mat-label for="notes">Add house notes</mat-label>
            <textarea matInput
              type="text"
              class="form-control"
              ngModel
              rows="10"
              colums="100"
              minlength="10"
              name="notes"
              required
              #notes="ngModel"
              placeholder="Add Notes">
              <mat-icon matSuffix>chat</mat-icon>
            </textarea>
          </mat-form-field>
          <br>
          <button
            mat-raised-button
            color="accent"
            type="submit"
            class="btn btn-primary"
            [disabled]="!notesForm.valid">
            Send us your Notes
          </button>
        </form>
      </mat-tab>  <!-- Notes -->
      <mat-tab label="Maps">
      </mat-tab>  <!-- Maps -->
      <mat-tab label="Charts">
      </mat-tab>  <!-- Charts -->
    </mat-card>
  </mat-tab-group>
</ng-template>
