.checkin-card {
  text-align: center;
}

.checkin-field {
  margin: auto;
  text-align: center;
}

.help-block {
  color: red;
}

.notes-field {
  width: 50%;
}

.picture-card {
  max-width: 400px;
  margin: auto;
}

.photos {
  display: flex;
}

.mat-card {
  margin: 5px auto;
}
