  <div>
    <h4>Welcome, {{ username }}</h4>
  </div>
  <div class=container>
      <mat-card class="listing-card">
        <mat-card-header>
          <mat-card-title>Listings</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table matSort (matSortChange)="sortData($event)">
            <tr>
              <th mat-sort-header="address">Address</th>
              <th mat-sort-header="owner">Owner</th>
              <th disabled mat-sort-header="checkins">CheckIns</th>
              <th mat-sort-header="comments">Comments</th>
            </tr>
            <tr *ngFor="let listing of sortedData">
              <td id="address">{{ listing.address }}</td>
              <td id="owner">{{ listing.owner }}</td>
              <td id="checkins">{{ listing.checkins }}</td>
              <td id="comments">{{ listing.numOfComments }}</td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card> <!-- listing-card -->
      <mat-card class="traffic-card">
        <mat-card-header>
          <mat-card-title>Traffic Stats</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card> <!-- trafficStats -->
      <mat-card class="calendar-card">
        <mat-card-header>
          <mat-card-title>Calendar</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card> <!-- calendar-card -->
      <mat-card class=teamfeed-card>
        <mat-card-header>
          <mat-card-title>Team Feed</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card> <!-- teamfeed-card -->
    </div> <!-- container -->
