// .all {
//     display: flex;
//     height: 90vh;
//     width: 100%;
//     justify-content: center;
//     align-items: center;
// }
//
// .header {
//     background: #f3f3f3;
// }
//
// nav {
//     display: flex;
//     justify-content: space-between;
//     padding: 8px;
// }
//
// .nav-brand p {
//     padding: 5px;
//     margin-bottom: 0;
// }
.listing-card {
  max-width: 100%;
  min-width: 50%;
}

.mat-sort-header-container {
  align-items: center;
}

/* dashboard */
.row {
  width: 100%;
  display: flex;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 100%;
}

.listingTable {
  top: 0;
  left: 0;
  width: 50%;
  margin: 5px auto;
}

.trafficStats {
  width: 50%;
  margin: 5px auto;
  top: 0;
  right: 0;
}

.calendar {
  width: 50%;
  margin: 5px auto;
  bottom: 0;
  left: 0;
}

.teamFeed {
  width: 50%;
  margin: 5px auto;
  bottom: 0;
  right: 0;
}
