@use "sass:math";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');

* {
  box-sizing: border-box;
}

// Primary Component settings
app-listings {
  width: 100%;
}

app-dashboard {
  width: 100%;
}

/* Auth */
app-user-authentication {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 100%;
  justify-content: center;
}

app-visit {
  width: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

$content_width: 95;
.content {
    display: flex;
    flex: math.percentage($content_width/100);
    padding: 15px;

    // margin: 81px auto auto 120px;
    // padding: -1 15px;
    // flex-direction: column;
    // align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
