<form (ngSubmit)="onSubmit(listingForm)" #listingForm="ngForm" name="listingForm">
    <mat-form-field appearance="outline">
      <mat-label for="addListingAddress">Listing Address</mat-label>
      <input matInput
        type="text"
        class="form-control"
        ngModel
        name="addListingAddress"
        required
        #addListingAddress="ngModel"
        placeholder="Enter Listing Address"
        >
        <mat-icon matSuffix>house</mat-icon>
        <mat-hint>e.g., 123 Main St.</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label for="addZipcode">Zipcode</mat-label>
      <input matInput
        type="text"
        class="form-control"
        ngModel
        name="addZipcode"
        required
        #addListingAddress="ngModel"
        placeholder="Enter Zipcode"
        >
        <mat-icon matSuffix>map</mat-icon>
        <mat-hint>e.g., 10005</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label for="addBedrooms">Bedrooms</mat-label>
      <input matInput
        type="text"
        class="form-control"
        ngModel
        name="addBedrooms"
        #addListingAddress="ngModel"
        placeholder="Enter number of bedrooms"
        >
        <mat-icon matSuffix>king_bed</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label for="addFullBath">Full Bath</mat-label>
      <input matInput
        type="text"
        class="form-control"
        ngModel
        name="addFullBath"
        #addListingAddress="ngModel"
        placeholder="Enter number of full baths"
        >
      <mat-icon matSuffix>bathtub</mat-icon>
    </mat-form-field>&nbsp;
    <mat-form-field appearance="outline">
      <mat-label for="addHalfBath">Half Bath</mat-label>
      <input matInput
        type="text"
        class="form-control"
        ngModel
        name="addHalfBath"
        #addListingAddress="ngModel"
        placeholder="Enter number of half baths"
        >
      <mat-icon matSuffix>wash</mat-icon>
    </mat-form-field>
    <br>

  <button mat-raised-button
    type="submit"
    name="submitListing"
    class="btn btn-primary">
    Create
  </button>
</form>
