#checkins, #qrcode {
  text-align: center;
}

#qrcode {
  width: 100px;
}

#qrcode img {
  width: 40px;
  height: 40px;
}

.listings {
  width: 100%;
}


.listingTable {
  width: 100%;
}

.listingTable table {
  border-collapse: collapse;
  margin: 0px auto;
  width: 75%;
}

.listingTable tr,
.listingTable td,
.listingTable th {
  border: 1px solid black;
  text-align: left;
  padding: 5px;
}

.listingTable th {
  text-align: center;
}

.listingTable tr:nth-child(even) {
  background-color: #eee;
}

.mat-fab {
  top: auto !important;
  bottom: 10px !important;
  left: auto !important;
  right: 20px !important;
  position: fixed !important;
}

mat-form-field.mat-form-field {
  margin: 2px;
}
