<!-- Floating alerts -->
<div class="alert error" *ngIf="error">
  <p>{{ error }}</p>
</div>
<div class="alert success" *ngIf="success">
  <p>{{ success }}</p>
</div>
<div class="alert warning" *ngIf="warning">
  <p>{{ warning }}</p>
</div>
<div class="alert notice" *ngIf="notice">
  <p>{{ notice }}</p>
</div>
<!-- /Floating alerts -->
<div class="listings">
  <h4>Welcome, {{ username }}</h4>
</div>
<button mat-fab (click)="openBottomSheet()"><mat-icon>add</mat-icon></button>
<div class="listingTable">
  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="address"><mat-icon>home</mat-icon>Address</th>
      <th mat-sort-header="owner"><mat-icon>person_pin</mat-icon>Realtor</th>
      <th disabled mat-sort-header="checkins"><mat-icon>check</mat-icon>CheckIns</th>
      <th mat-sort-header="comments"><mat-icon>chat</mat-icon>Comments</th>
      <th disabled mat-sort-header="qrcode"><mat-icon>qr_code</mat-icon>QR Code</th>
    </tr>
    <tr *ngFor="let listing of sortedData">
      <td id="address"><a href="{{ listing.propertyURL }}">{{ listing.address }}</a></td>
      <td id="owner">{{ listing.owner }}</td>
      <td id="checkins">{{ listing.checkins }}</td>
      <td id="comments">{{ listing.numOfComments }}</td>
      <td id="qrcode">
        <qrcode [qrdata]="listing.url" [width]="100"></qrcode><br>
        <a href="{{ listing.url }}" target="_blank">Go To Listing</a>
      </td>
    </tr>
  </table>
</div>
